/* media query for mobile device  */
@media only screen and (max-width: 480px) {
    p {
        font-size: 14px;
        line-height: 21px;
    }

    /* header area css  */
    header {
        margin-bottom: 0px;
    }

    .header-benner-text h1 {
        font-size: 28px;
        line-height: 42px;
    }

    .menu {
        display: none;
    }

    .header-banner {
        display: block;

    }

    .header-benner-text {
        width: 100%;
        margin-bottom: 50px;
    }

    .header-benner-img {
        width: 80%;
        margin: 0 auto;

    }

    .header-benner-img img {
        width: 90%;

    }


    /* collection area css  */
    .collection-header-title {
        margin-top: 10px;
    }

    .collection-products {
        display: grid;
        grid-template-columns: 1fr;
    }

    .product-box {
        width: 90%;

    }

    /* conatct area css  */
    .contact-section {
        margin-top: 0;
        padding: 50px 0;
    }

    .contact-section form {
        width: 50%;
    }

    .contact-section form input {
        width: 70%;
        margin-left: 10%;
        margin-top: 15px;
    }

    .f-btn {
        width: 84.8% !important;

    }
}